@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá mundo!</h1>
    <p><a asp-controller="Funcionarios" asp-action="Index"  class="nav-link text-dark">Registro de funcionários</a>.</p>
</div>
